<div class="banner-img">
  <img src="../../../../assets/one-3054268_1280.jpg" alt="...">
  <h1>Shop Smart, Save Big!</h1>
</div>
<div class="home-container container mt-4">
  <div class="row d-flex justify-content-center">
    <h2 class="col-2 col-lg m-3">Store</h2>
    <input class="col-12 col-lg-10 input-search" type="text" placeholder="Search a product..." (input)="searchProduct($event)" [ngStyle]="{'border': 'none'}">
    <hr>
    <div class="container d-flex align-items-center justify-content-center">
      <button class="btn btn-secondary mb-3" (click)="onShow()"> Advanced search</button>
    </div>
    <div *ngIf="showFilters">
      <app-filters (category)="onCategorySelected($event)" (searchPrice)="onSearchByPrice($event)"></app-filters>
    </div>
    <hr>
  </div>
  <div class="products-container">
    <div *ngFor="let product of products" class="d-flex">
      <app-product-card (addToCart)="onAddToCart($event)" class="m-3" [product]="product"></app-product-card>
    </div>
  </div>
</div>

